.index {
  background-image: url(./img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  z-index: 1;
}
.index::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.575);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
